/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------HTML-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------BODY-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------MARGINS----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.m-5 {
    margin: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-10 {
    margin: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-20 {
    margin: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------PADDINGS---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.p-5 {
    padding: 5px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-l-5 {
    padding-left: 5px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-10 {
    padding: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-20 {
    padding: 20px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-r-20 {
    padding-right: 20px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------CARD-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.card-shadow{
    border:none;
    box-shadow: 0px 0px 3px 3px #eee;
    /*box-shadow:  5px 5px 10px #d9d9d9,*/
    /*-5px -5px 10px #ffffff;*/
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------HEADER-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.navbar-expand-lg .form-inline{
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-dark .form-inline label{
    color: rgba(255,255,255,.5) !important;
}
@media screen and (max-width: 719px) {
    .navbar-brand{
        font-size: 1rem;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------SIDEBAR-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: #f7f7f7;
    padding: 1rem;
}
.sidebar h4,h2{
    margin-bottom: 0;
    color:#5c1919;
}
.sidebar-header{
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}
.sidebar-header-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar-icon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #5c1919;
    color:#f7f7f7;
    font-size: 1.4rem;
}
.sidebar-content{
    flex:1;
}
.sidebar form{
    margin-top: 1rem;
}
.sidebar .form-check-label{
    font-size: 0.85rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------Topic-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.topic{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  0.3rem 0.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    color: #f7f7f7;
    font-weight: 450;
    margin-bottom: 0.5rem;
    cursor:pointer;
}
.burgundy{
    background-color: #5C1919;
}
.burgundy:hover{
    background-color: #5c1919e6;
}
.military{
    background-color: #595727;
}
.military:hover{
    background-color: #595727e6;
}
.dark-gray{
    background-color: #362f2f;
}
.dark-gray:hover{
    background-color: #362f2fe6;
}
/*.icon-burgundy{*/
/*    color: #5C1919*/
/*}*/
/*.icon-military{*/
/*    color: #595727;*/
/*}*/
/*.icon-dark-gray{*/
/*    color: #362f2f;*/
/*}*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------BTNS-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.btn-tiny{
    padding:0px;
    color:#434242;
    font-size: 0.8rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------txt-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.txt-left{
    text-align: left;
}
.txt-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
